@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');



body {
    font-family: 'Roboto', sans-serif;
}

button, input {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    margin: 100px auto;
    width: 100%;
    padding: 10px;
    max-width: 1140px;
    position: relative;
}

h1 {
    font-size: 64px;
    font-weight: 100;
}

h2 {
    font-size: 32px;
    font-weight: 100;
}

p {
    font-size: 18px;
    color: #8a8a8a;
}